<!DOCTYPE html>
<html>
    <head>
        <title>polled you so</title>
        {% load staticfiles %}
        <link rel="stylesheet" type="text/css" href="{% static 'polls/index.css' %}"/>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css"/>
        <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
        <!-- jquery UI -->
        <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.3/themes/smoothness/jquery-ui.css" />
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css"/>
        <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.3/jquery-ui.min.js"></script>
        <script src="{% static 'polls/js/polls.js' %}"></script>
    </head>
    <body>

    <div id="overlay">
    </div>

    <div id="card">
        <div id="question"> {{ q.text }} </div>
        <div> <br><br><br><br><br><br><br><br><br><br><br> </div> <!-- have to replace with graphics -->
        <div> your answer: {{ a }} </div>
        
    </div>
    <div id="uploadQuestion">
        ask a question
        <form action='/polls/submitq/' method='get'>
            <input type="text" placeholder="your question" id="yourQ" class="uploadField" name='q'><br>
            number of possible answers:
            <input type="number" id="numberAnsSelect">
            <table id="numAnsSelect" style="width:100%">
                <tr>
                    <td>1</td><td>2</td><td>3</td><td>4</td><td>5</td>
                </tr>
            </table>
            <input type="text" placeholder="first answer" id="ans1" class="answer uploadField" name='a1'><br>
            <input type="text" placeholder="second answer" id="ans2" class="answer uploadField" name='a2'><br>
            <input type="text" placeholder="third answer" id="ans3" class="answer uploadField" name='a3'><br>
            <input type="text" placeholder="fourth answer" id="ans4" class="answer uploadField" name='a4'><br>
            <input type="text" placeholder="fifth answer" id="ans5" class="answer uploadField" name='a5'><br>
            <input type="submit">
        </form>
    </div>

    <div id="navbar" class="stuckBar">
        <span id="logo">PolledYouSo</span>
        <span id="userInfo"></span>
    </div>
    <div id="clickToAsk" class="stuckBar">
        ask a question
    </div>

    {% load app_filters %} 
    <a href="{% url 'polls:detail' q.id|move_right %}">
        <div id="navRight" class="changeQ">
            <i class="fa fa-angle-right"></i>
        </div>
        </a>
        <a href="{% url 'polls:detail' q.id|move_left %}">
        <div id="navLeft" class="changeQ">
            <i class="fa fa-angle-left"></i>
        </div>
    </a>



    </body>
</html>